{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <title>Fair eyes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <header>
      <div class="header">
        <h2><img src="{% static 'img/logo.png' %}" class="header-logo">Data Science Sentiment Analysis & Fair Eye</h2>
        <p>2019 정보 올림피아드 코드페어 해커톤 준비를 위해 슬래시 슬립 팀은 미국 언론 한국 관련 동향을 모니터링 할수 있는 Fair Eye 시스템을 개발해 일반인도 미국 언론이 다루는 한국 정보를 쉽게 찾을수 있도록 했고 Fair Eye 개발을 위해 사용한 스크래핑 기술을 이용 수집한 테이터를 분류해 컴퓨터(AI) 스스로 신문 사설과 기사의 긍정 부정 논조를 파악하는 Data Science Sentiment Analysis
          Polarity Detection (감정 극성 분석 탐지) 프로토타입 시스템을 개발했다. </p>

        <p>전세계 기업 생존과 직결되어 있는 Big Data 분석을 통한 마케팅 전략은 AI 에 의한 자연어 처리에 기반을 두고 있고, 구글을 필두로 전세계 기업은 관련 연구에 막대한 연구비를 쏟고 있다. 2003년 EU 문서 번역 프로젝트에 4천여명 번역가들이 동원되고 10억 유로 약 1조 2천억원을 지출했는데 AI 에 의한 자연어 처리 기술 발달로 비슷한 프로젝트 관련 비용이 획기적으로 줄어들 전망이다.</p>

        <p>슬래시 슬립 팀이 2019 한국 정보 올림피아드 코드페어 해커톤 준비를 위해 개발한 Data Science Sentiment Analysis 시스템은 AI에 의한 자연어 처리 방식 중 일부인 polarity detection (긍정 부정 극성 탐지) 파트를 구현했으며 이는 미국 언론을 대상으로 시도하며 모든 소스 코드 공개, 사용된 lexicon 화일을 데이타베이스화 하는 과정 공개, 그리고 관련 알고리즘 뼈대를 알기 쉽게
          구현하여 모든것을 공개하는 것은 우리팀이 최초라 믿는다. </p>

        <p>프로젝트 진행을 위해 Python django Database(SQLite3) 사용하였고 MVC 패턴 (Model-View-Controller) 방식을 채용 디자인과 개발 과정 각자가 독자적인 작업이 가능하게 해 한 요소가 다른 요소에 주는 영향을 최소화하며 프로젝트를 진행했다. </p>

        <p>또한 If you can read plain english you can understand our source code 원칙을 철저하게 지키려 노력하고 Data Science Sentiment Analysis와 Fair Eye 연구에 관심있는 다른 사람들의 활발한 후속 연구 개발이 가능하도록 완성도 높은 문서 작업에도 많은 시간을 쏟았다.</p>

        <p>이 프로젝트는 한국 고등학교 학생들로 구성된 팀으로 진행하였고 어떠한 경우에도 프로젝트를 상업적으로 이용하지 않으며 순수 연구 목적과 올바른 정보를 정확하게 전달하는 용도 이외에는 관련 정보와 기술을 사용하지 않는다.</p>

        <p>프로젝트 관련 문서, Data Science Sentiment Analysis 연구 문서 그리고 모든 소스 코드를 공개한다.</p>
      </div> <!-- header -->
    </header>
    <div class="main">
      <div class="content">
        <div class="name"> 2019 한국 정보 올림피아드 코드페어 해커톤 팀: 슬래시 슬립 (//sleep), 멘토 강현욱</div>
        <div class="name"> 2019 평택 한광고등학교 정해솔</div>
        <div class="name"> 2019 동암고등학교 오승현</div>
        <div class="name"> 2019 광주소프트웨어마이스터고등학교 홍하연</div>
      </div> <!-- content -->

      <hr>

      <div class="content">
        <h3 class="content-title">US Press Monitoring System (Fair Eye)</h3><Br>

        <p>During the South Korea/Japan trade war, the opinions of American opinion leaders and the American press were important. <br>
          However, the trade war was a controversial topic, and it was difficult to confirm their opinions.</p>

        <p>( 한일 무역 전쟁이 심화 되면서 양국 관계를 조율 해줄수 있는 미국 오피니언 리더 그리고 미국 언론 반응을 중요하게 다루어야 했다.<br>
          하지만 민감한 이슈에 대해 한국 일부 언론이 소개해 주는 극소수 미국 언론 반응 이외에는 전체적인 미국 오피니언 리더 그리고 전체적인 미국 언론 반응을 확인하기 힘들었다. )</p>

        <p>This project was designed to monitor the reactions and opinions shown in American news articles about South Korea. To prove the potential of this project, we decided to use the news source with the most subscribers in the United States as a
          sample, USA Today.</p>

        <p>( 이 프로젝트는 한국 관련 미국 언론 반응을 전반적으로 모니터할수 있도록 디자인 되었고 그 가능성과 작동 과정을 보여주기 위해 미국에서 가장 구독자가 많은 언론사인 USA Today 를 샘플로 선정해 진행하였다.)</p>

        <p>Moreover, we did some research on Data Science Sentiment Analysis so we could better understand how computers (AI) would determine whether an article’s topic was positive or negative. The procedure and the results of this research will be
          revealed in the Korean Olympiad in Informatics’ Code Fair Hackathon.</p>

        <p>(또한 컴퓨터(AI) 스스로 기사의 논조 긍정 부정을 파악할수 있는 Data Science Sentiment Anaylysis 연구를 함께 진행하였고, 해당 연구 과정과 결과를 2019 한국 정보 올림피아드 코드페어 해커톤을 통해 공개한다.)</p>
      </div> <!-- content -->
      <!--
              This project was started by a team of high school students in South Korea. <br/>
              This project will not be used commercially in any way. <br/>
              The purpose of this project is to bring people accurate information and help with future AI research. <br/><br/>

              In order to proceed with the project, a Python Django Database (SQLite3) was used.
              Using the MVC (Model-View-Controller) pattern system, we made it possible to work on designing and developing separately, decreasing the effects they have on each other.
              Also, we vowed to obey the “If you can read plain English, you can understand our source code” rule as much as we could. <br/>
              For the people that are interested in the research of Fair Eye/Data Science Sentiment Analysis and further development, we spent some time working on documents as well.
              <br/><br/>

              Documents about the project, documents about Data Science Sentiment Analysis and the source code will be available on GitHub.
        -->

      <hr>

      <div class="content">
        <h3 class="content-title">USAToday - Korea realated news from USA Today (Searching Result 1-2)</h3>

        <p>
          {% for links in links %}
          <!--<a href="{% url 'SentiA' %}?links={{links}}" target="_blank">{{links}} -->
          <a href="{{links}}" target="_blank">{{links}}</a>
          <p>
              {{titles}}
          </p>
          <br><br>
          {% endfor %}
        </p>
      </div> <!-- content -->

      <hr>

      <div class="content">
        <h3 class="content-title">Data Science Sentiment Analysis (Polarity Detection) </h3>

        <p>Google AI is doing research in various ways. One of them is teaching a computer to comprehend drawings done by young children, and giving it the ability to draw objects like young children.</p>

        <p>(구글 AI 연구 방향중 하나는 어린 아이들 그림을 컴퓨터가 이해하고 아이들이 사물을 묘사하는 능력을 컴퓨터에게 학습 시키는 것이다.)</p>

        <a href="https://ai.googleblog.com/2017/04/teaching-machines-to-draw.html" target="_blank">https://ai.googleblog.com/2017/04/teaching-machines-to-draw.html</a><br><br>

        <img src="{% static 'img/drawings.png' %}" alt=""><br><br>

        <p>Furthermore, AI research about perceiving new Google documents as well as understanding languages and their structures are taking place, providing multiple services.</p>
        <p>(또한 최근 구글은 문서를 자동 인식, 언어를 이해하고 구조를 파악하는 AI 연구를 진행하며 여러가지 서비스를 제공한다.)</p>

        <a href="https://ai.googleblog.com/2019/09/giving-lens-new-reading-capabilities-in.html" target="_blank">https://ai.googleblog.com/2019/09/giving-lens-new-reading-capabilities-in.html</a><br><br>

        <img src="{% static 'img/image3.jpg' %}" alt=""><br><br>

        <p>From University of Illinois at Chicago Computer Science, we managed to find a file that contains positive words, and a file that contains negative words. If we showed the source, then the conditions were met and we could use the files.
          Thousands of positive and negative words were transplanted into a database. We made the program extract news articles used in the Fair Eye project word by word, and see how often each word was used.</p>

        <p>Also, we made the program compare the words extracted from the articles to the words in the database, and check how many positive and negative words were used. This is how the program can see whether the article is positive or negative.</p>

        <p>( 우리 팀은 University of Illinois at Chicago Computer Science 연구 랩을 통해 negative words, positive words lexicon 화일을 구할수 있었고 사용 조건은 출처 표시였다. 우리 팀은 수천개에 달하는 negative positive words 를 database 에 이식하고 Fair Eye 에서 추출한 미국 언론 기사를 단어별 추출, 빈도수 체크 그리고
          database 와 비교하며 긍정 부정 단어중 어느 쪽 단어의 쓰임이 많은지 그리고 기사 내 단어 빈도수를 고려하며 프로그램을 진행하였다.)</p>

        <p>
          Limitations: <br>
          Due to the fact that we used Bag-of-words to determine the characteristics of the words and the amount of times the words were used, articles with a significant amount of sarcasm are difficult to deal with because the program could declare
          the words used sarcastically as legitimately positive words.<br>
          An article with tons of negative words that end with a positive message could be seen as negative to the program, and an article with tons of positive words that end with a negative message could be seen as positive to the program as well.
        </p>

        <p>
          (한계: <br>
          Bag-of-words 는 단어 성격을 분류해 빈도수 체크에 기반하기 때문에 냉소적이고 비꼬는 글, 역설적인 단어 사용 경우에 정확한 긍정 부정 논조를 파악하기 힘들다. 또한 부정적인 단어의 사용이 많아도 결론을 긍정으로 내거나 긍정적인 단어의 사용이 많아도 글 결론이 부정적 일때 파악하기 힘들다.)
        </p>

        <p>Ideas: <br>
          1. Giving a certain amount of points to each word (“Good” +1) (“Bad” -1) (“Best” +2) (“Worst” -2) <br />
          2. Setting words or phrases that are important when grasping the context of the sentence, and using them to see if the entire article is positive or negative. (However, wasn’t it, don’t you think etc) <br />
          3. Giving different points to the same word depending on the position of the word. (“Bad” in the introduction: -1, “Bad” in the body: -1.3, “Bad” in the conclusion: -1.7) <br />
          4. Checking the atmosphere of the text and seeing whether a phrase that may have been used in a passive-aggressive manner was used in a good way or a bad way. (“Good for you”, “Whatever”, “Totally” etc)
        </p>

        <p>
          (개선 아이디어: <br>
          1. 각 긍정, 부정 단어 수치화: Ex) (“Bad” -1) (“Worst” -2) (“Good” 1) (“Best” 2) <br />
          2. 각 문맥 의미 파악에 중요 단어 또는 단어구 선정, 그로 인한 전체적인 글 긍정 부정 영향 연구 ( However, wasn’t it, don’t you think, ~하지 않니?, 그렇지 않을까? etc) <br />
          3. 포지셔닝 파악후 단어 수치화: 같은 단어여도 서두 본문 결론 위치 파악 및 수치 차별화
          (Ex Bad 라는 단어가 서두 Bad -1, 본문 Bad -1.3, 결론 Bad -1.7) <br />
          4. Passive-Aggressive Words 일반적으로 의미가 상반되며 뉘앙스가 강하게 느껴지는 또는 톤에 따라 의미가 변하는 단어 단어구 연구 (Ex 잘났어, 너나 많이 먹어, Good for you, Whatever, Totally etc) )
        </p>

        <p>
          Conclusion:<br>
          In this research, we provided a prototype program that demonstrates Google's research directions and provides a stepstone for sentiment analysis research. We coded this program as simply as possible so others could easily jump in and add
          their contributions.
        </p>

        <p>
          (결론:<br>
          스크래핑 기술을 이용 한국 관련 정보를 쉽게 수집할수 있게 하고 수집한 데이터 전처리 작업을 통해 AI 자연어 처리 일부를 구현하였다. 또한 구글과 전세계 기업 연구 방향을 확인하고 컴퓨터(AI) 스스로 기사의 긍정 부정을 판단하는 방법론과 개선책을 제안하며 관련 연구에 쓰일수 있는 프로토타입 프로그램을 직접 만들었다. 관련 연구가 다른 사람들이 더 활발하게 이어갈수 있도록 가급적 이해하기 쉽고 짧은 형태로 진행했다.)
        </p>

        <p>
          We uploaded the prototype program to GitHub. We simplified the code as much as we could so that even Python and Django newbies with passion can understand the code within three to four days. Not only that, it makes it easier for people to
          edit
          the code.
        </p>

        <p>
          GitHub를 통한 소스코드 공개와 파이썬 프로그램과 Database 초보도 열정만 있다면 일주일 안에 이해가 되도록 코딩 하였고 구조를 단순화 해서 누구나 수정이 쉽고 관련 연구에 관심이 있다면 자신만의 아이디어를 구현할수 있도록 했다.)
        </p>
      </div> <!-- content -->

      <hr>

      <div class="content">
        <h3 class="content-title">Data Science Sentiment Analysis Polarity Detection Sampling Test </h3><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/travel/destinations/2019/07/23/k-beauty-pilgrimage-skincare-fanatic-visits-south-korea/1798848001/" target="_blank">
          https://usatoday.com/story/travel/destinations/2019/07/23/k-beauty-pilgrimage-skincare-fanatic-visits-south-korea/1798848001/</a><Br><Br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/world/2019/09/09/typhoon-lingling-hits-north-and-south-korea-death-toll-8/2262399001/"
          target="_blank">https://usatoday.com/story/news/world/2019/09/09/typhoon-lingling-hits-north-and-south-korea-death-toll-8/2262399001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/world/2019/08/15/south-koreas-government-held-emergency-national-security-meeting-thursday-after-north-korea-conducte/2026499001/ "
          target="_blank">https://usatoday.com/story/news/world/2019/08/15/south-koreas-government-held-emergency-national-security-meeting-thursday-after-north-korea-conducte/2026499001/ </a><br><br>


        <a href="{% url 'SentiA' %}?links= https://usatoday.com/story/news/world/2019/08/01/north-korea-says-tested-new-rocket-launch-system/1886449001/" target="_blank">
          https://usatoday.com/story/news/world/2019/08/01/north-korea-says-tested-new-rocket-launch-system/1886449001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/world/2019/06/30/north-korea-kim-jong-un-evade-un-sanctions-get-luxury-limo-despite-trump-maximum-pressure/1523974001/"
          target="_blank">https://usatoday.com/story/news/world/2019/06/30/north-korea-kim-jong-un-evade-un-sanctions-get-luxury-limo-despite-trump-maximum-pressure/1523974001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/world/2019/08/15/south-koreas-government-held-emergency-national-security-meeting-thursday-after-north-korea-conducte/2026499001/"
          target="_blank">https://usatoday.com/story/news/world/2019/08/15/south-koreas-government-held-emergency-national-security-meeting-thursday-after-north-korea-conducte/2026499001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/politics/2019/08/10/donald-trump-hints-meeting-north-koreas-kim-jong-un/1975006001/"
          target="_blank">https://usatoday.com/story/news/politics/2019/08/10/donald-trump-hints-meeting-north-koreas-kim-jong-un/1975006001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/world/2019/07/24/north-korea-fires-two-projectiles-into-sea-south-korean-military-says/1822759001/"
          target="_blank">https://usatoday.com/story/news/world/2019/07/24/north-korea-fires-two-projectiles-into-sea-south-korean-military-says/1822759001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/politics/2019/08/26/white-house-clarifies-first-lady-melania-trump-hasnt-met-kim-jong-un/2125295001/"
          target="_blank">https://usatoday.com/story/news/politics/2019/08/26/white-house-clarifies-first-lady-melania-trump-hasnt-met-kim-jong-un/2125295001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://usatoday.com/story/news/politics/2019/07/01/ivanka-trump-first-daughter-slammed-role-unofficial-diplomat/1616324001/"
          target="_blank">https://usatoday.com/story/news/politics/2019/07/01/ivanka-trump-first-daughter-slammed-role-unofficial-diplomat/1616324001/</a><br><br>

        <a href="{% url 'SentiA' %}?links= https://www.usatoday.com/story/opinion/2019/09/24/how-game-thrones-taught-tragedy-war-column/2418156001/"
          target="_blank">https://www.usatoday.com/story/opinion/2019/09/24/how-game-thrones-taught-tragedy-war-column/2418156001/</a><br><br>

        <a href="{% url 'SentiA' %}?links=https://www.usatoday.com/story/opinion/voices/2019/09/24/local-news-buffalo-personal-report-for-america-column/2418392001/"
          target="_blank">https://www.usatoday.com/story/opinion/voices/2019/09/24/local-news-buffalo-personal-report-for-america-column/2418392001/</a>
      </div> <!-- content -->

      <hr>

      <!-- https://usatoday.com/story/news/world/2019/08/07/kim-jong-un-north-korea-missile-launches-were-warning-us-south/1941233001/ <br><br>

      https://usatoday.com/story/news/2019/07/31/democratic-debate-trump-north-korea-and-fed-wednesdays-news/1877531001/ <br><br>

      https://usatoday.com/story/news/world/2019/07/24/north-korea-fires-two-projectiles-into-sea-south-korean-military-says/1822759001/ <br><br>

      https://usatoday.com/story/travel/destinations/2019/07/23/k-beauty-pilgrimage-skincare-fanatic-visits-south-korea/1798848001/

      <Br><Br>

          https://usatoday.com/story/news/world/2019/09/14/president-donald-trump-host-otto-warmbiers-parents-fred-and-cindy-dinner-white-house/2326896001/ <Br><Br>

          https://usatoday.com/story/news/world/2019/09/14/president-donald-trump-host-otto-warmbiers-parents-fred-and-cindy-dinner-white-house/2326896001/ <Br><Br>

          https://usatoday.com/story/travel/advice/2019/09/29/worldwide-spending-guide-exchange-rates-more-info-41-countries/3785805002/  <br><br>

          https://usatoday.com/story/news/politics/2019/06/26/trumps-g-20-trip-doesnt-appear-include-meeting-kim-jong-un/1545819001/ <Br><Br>

          https://usatoday.com/story/entertainment/tv/2019/09/11/dennis-rodman-corrects-for-better-worse-madonna-wesley-snipes-hair/2282794001/ <Br><Br>

          https://usatoday.com/story/news/politics/2019/05/15/donald-trump-travels-south-korea-june-talk-north-korea/3684983002/ <Br><Br>

      -->

      <div class="content">
        <h3 class="content-title">epilogue</h3>

        <p>우리팀은 프로젝트 초반 스크래핑 작업이 이어지면서 복잡해지던 코드를 과감하게 정리했다. 데이터 수집을 위한 승현님 스크래핑 파이썬 코드와 해솔님 DB & Data Science 파이썬 코드가 레고 블록 처럼 만나 Django 를 통해 웹으로 전달하는 틀을 짜야 했고 하연님 또한 결과를 두고 디자인을 해야 했기에 한눈에 봐서 이해가 안되는 모든 소스 코드나 단계는 과감하게 삭제 하고 프로토타입 프로그램 뼈대를 쉽게 보여 줄수
          있도록 노력했다.</p>

        <p>디자인 또한 하연님이 많은 시간을 투자해 초안을 주셨지만 간략함을 위해 결국 Google AI 연구 결과를 발표하는 Google AI Blog 형식으로 디자인 전면 수정을 요청했고, 하연님께서 이해해 주셔서 보다 편하게 연구 관련 문서를 추가 하며 바로 바로 웹에서 공유할수 있었다.</p>

        <p>현욱 멘토님이 없었다면 초반 Django 세팅과 Database 세팅에 너무 많은 시간을 빼앗겨 지금과 같은 프로젝트가 만들어지지 못했을 것이다. Sentiment Analysis 코드가 파이썬 내부에선 작동했는데 Django 로 이식하는 과정에서 주말 내내 밤을 새우며 고민했는데 멘토님이 지적하신 DB 경로에 대한 조언이 없었다면 아주 아주 더 오래 고생 했을것이다.</p>

        <p>문서 영문화 작업은 미국에서 태어나고 자라 영어와 한국어가 동시 사용 가능한 해솔님이 해주셨다.</p>

        <p>
          2019 한국 정보 올림피아드 코드페어 해커톤<br>
          팀: 슬래시 슬립
        </p>
      </div> <!-- content -->

      <div class="content">
        <h3 class="content-title"> presentation draft </h3>
        <p>
          저희 팀은 2019 한국 정보 올림피아드 코드페어 해커톤 준비를 위해
          미국 언론에서 다루는 한국 관련 뉴스를 모니터링 할수 있는 Fair Eye 시스템을 개발해 일반인도 미국 언론이 다루는 한국 정보를 쉽게 찾을수 있도록 했습니다. <Br><Br>

          또한 Fair Eye 시스템 개발을 위해 사용한 스크래핑 기술을 이용해서 데이터를 수집하고 분류해 컴퓨터 (AI) 스스로 신문 사설과 기사의 긍정 부정 논조를 파악하는 Data Science Sentiment Analysis System 도 함께 개발했습니다. <Br><Br>

          <Br>
          ((구글 연구 사진과 자료 띄움)) <Br><Br>

          최근 구글 AI 연구 방향중 하나는 어린 아이들 그림을 컴퓨터가 이해하고 아이들이 묘사하는 능력을 컴퓨터에게 학습 시키는 것 입니다. 또한 문서를 자동 인식, 언어를 이해하고 구조를 파악하는 AI 연구를 진행하며 여러가지 서비스를 제공하고 있습니다. <Br><Br>

          ==================================> 1분~1분 10초
        </p>

        <p> 구글을 선두로 세계 각 기업이 AI 자연어 처리 연구에 막대한 연구비를 쏟는 이유는 전 세계 기업 생존과 직결하는 Big Data 분석을 통한 새로운 마케팅 전략이 AI 자연어 처리 연구에 기반을 두고 있어서 입니다. <br><br>

          슬래시 슬립 팀이 개발한 Data Science Sentiment Analysis 시스템은 AI 자연어 처리 방식 일부인 Polarity Detection 파트를 구현했습니다. <Br><Br>

          ((코드 일부 띄움)) <Br><Br>
          ((전체 프로젝트 플로우 차트 띄움))<Br><Br>
          이는 미국 언론을 대상으로 시도하며 모든 소스 코드 공개, 사용된 lexicon 화일을 데이터베이스화 하는 과정 공개, 그리고 관련 알고리즘 뼈대를 알기 쉽게 구현하며 모든것을 공개하는 것은 저희팀이 최초라 믿습니다. <Br><Br>
        </p>

        <p>지금 보시는 화면은 미국 내 구독자가 가장 많은 USAToday 언론사를
          샘플로 한국 관련 뉴스를 실시간 자동으로 가져오게 하고 있습니다. <Br><Br>


          ==========> 시연 <Br><Br>
          =====================================> 2분
        </p>

        <p>이를 응용하면 전 미국에 있는 모든 언론사의 한국 관련 기사와 언어적 문제만 해결한다면 전세계 언론을 상대로 한국 관련 기사를 자동으로 탐지하는 시스템을 개발 할수 있습니다. <Br><Br>

          또한 <Br><Br>

          (ETRI 감정 분류표 화면에 띄우고) <Br><Br>

          이러한 스크래핑 기술을 사용하면 Big Data 분석을 위한 데이터 수집을 쉽게 할수있고 이를 바탕으로 슬래시 슬립 팀은 ETRI 가 분류한 20 여가지 인간의 감정 분류 중에 긍정적인 파트와 부정적인 파트를 AI 스스로 구분하는 Data Science Polarity Detection 시스템을 개발할수 있었습니다. <Br><Br>

          지금 보시는 화면은 저희팀이 만든 Polarity detection 샘플링 테스트를 보고 있습니다. <Br><Br>

          ==========> 시연 <Br><Br>

          ====================================> 3분 <Br><Br>
        </p>

        <p>
          기사와 사설에 쓰인 단어를 University of Illinois at Chicago Computer Science 에서 제공한 lexicon 긍정 부정 단어와 비교하며 AI 스스로 기사와 사설의 긍정 부정 논조를 파악하고 있습니다. 관련 알고리즘과 작동 방식은 저희 사이트에 자세하게 기술되어 있습니다. ===> 팀 사이트 관련 부분 스크롤 해서 보여줌 <Br><Br>

          ((화면전환)) <Br>
          ((각 기업 AI 연구비 목록 화면에 띄움 ))<Br><Br>

          ====> 결론 시작 우리 팀 연구가 향후 AI Data Science 연구에 도움이 되는 부분임을 강조 !! <Br><Br>

          전세계 국가와 기업은 천문학적인 연구비를 투자해 AI 에 연구에 박차를 가하고 있습니다. 인간이 언어를 배우는 과정이 AI가 자연어 처리 습득 능력을 갖추어 나가는 과정과 비슷하며 정보 가공 능력을 AI 스스로 습득하며 작동할 경우 응용 산업 분야는 방대 합니다. <Br><Br>

          세계적인 시장 조사업체 닐슨은 AI 를 이용한 Big Data 분석을 통해 고객에 대한 위험 예측 정보를 제공하고 있고, Google은 사람들의 관심사를 추적하는 Google Trends 를 통해 각 기업에게 정확한 마케팅 트렌드를 알려주며 방대한 데이터 처리를 위해 AI 를 이용하고 있습니다.<Br><Br>

          ((((1분간 마지막 결론)))) <Br><Br>

         

         구글은 2018 년 AI 에 관련된 연구를 하는 대학과 비 영리기관에 250 억원이 넘는 연구비를 지원했습니다<Br>
         회사 스스로 하는 연구 이외에 전반적인 AI 연구가 미국 전체에서 실행이 되도록 구글은 앞장서고 있습니다 <Br><Br>

        https://www.washingtonpost.com/education/2018/10/29/google-offers-money-universities-use-artificial-intelligence-scale-up-research/
<Br> <Br>
    
        아직 한국은 AI 연구가 많이 뒤쳐져 있습니다. <Br><Br>

        저희 슬래시 슬립팀은 AI Data Sciecne 연구 관련 일부나마 뼈대를 완성하고 보여줄수 있다면 관련 연구를 하는 
        다른 사람들에게 도움이 될거라 판단 했습니다. 그래서 한눈에 이해가 될수 있는 코드 방식과 심플한 구조를 만들었고
        쉽게 다른 연구에 저희 프로그램이 이식될수 있도록 노력했습니다. <Br><Br>
    
        2019 한국 정보 올림피아드 코드페어 해커톤을 통해 저희팀은 최선을 다 했고 그 결과물이 진심으로 
        다른 사람들에게 도움이 되길 바랍니다. <Br><Br>
    
        감사합니다. <Br>
    
        
    
        
    
        

        </p>
      </div> <!-- content -->
    </div> <!-- main -->
-->
    <div class="footer small">
      &copy; 2019 - <a href="#" class="end">Data Science Sentiment Analysis & Fair eyes</a><br>
      <a href="#">History</a> &nbsp;|&nbsp; <a href="#">Contact Us</a>
    </div> <!-- footer -->
  </body>
</html>
